<div id="container" class="d-flex flex-column">

    <div class="d-flex align-items-center mb-3" id="header">
        <div class="p-2">
            <h1 class="display-4">Customer Accounts</h1>
        </div>
        <div class="ml-auto p-2 flex-shrink-1">
            <button type="button" class="btn btn-warning btn-lg" (click)="onNewCustomerClick()">New Customer</button>
        </div>
    </div>


    <div class="input-group input-group-lg mb-3" style="padding: 2px; width: 100%;">
        <input #search type="text" placeholder="Search customers by Name, Contact, or Address" class="form-control" (input)="onSearchInput($event.target.value)">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="search.value = ''; onSearchClearClick();">Clear</button>
        </div>
    </div>
    <div class="flex-fill" style="overflow-y: auto;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Total Credit</th>
                    <th scope="col">Last Sale</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of currentCustomers; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.address }}</td>
                    <td>{{ customer.contact }}</td>
                    <td>{{ customer.total_credit ? customer.total_credit : 0 | number: '1.2-2' }}</td>
                    <td>{{ customer.last_sale | date: 'MMM d, y' }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-dark btn-sm" [routerLink]="['/customers/'+customer.id]" routerDirection="forward">View</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
