<div id="container" class="d-flex flex-column" style="height: 100%;">

    <div class="d-flex align-items-center mb-3" id="header">
        <div class="p-2">
            <h1 class="display-4">Customer Accounts</h1>
        </div>
        <div class="ml-auto p-2 flex-shrink-1">
            <button type="button" class="btn btn-warning btn-lg" (click)="onNewCustomerClick()">New Customer</button>
        </div>
    </div>

    <div class="flex-fill">
        <app-customer-lookup #customerLookup [allowView]="true" (onCustomerSelect)="alert($event)"></app-customer-lookup>
    </div>
</div>
