<div id="container" class="d-flex flex-column">

    <div class="d-flex align-items-center mb-3" id="header">
        <div class="p-2">
            <h1 class="display-4">Dashboard</h1>
        </div>
    </div>

    <div class="row">
        <!-- <div class="col-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ 12 | number: '1.2-2' }} <sub><small>/day</small></sub></h5>
              <h6 class="card-subtitle mb-2 text-muted">Average Sales</h6>
            </div>
          </div>
        </div> -->
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ todayCreditSales + todayCashSales | number: '1.2-2' }} <sub><small>AED Today</small></sub></h5>
              <h6 class="card-subtitle mb-2 text-muted">Total Sales</h6>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ todayCreditSales | number: '1.2-2' }} <sub><small>AED</small></sub></h5>
              <h6 class="card-subtitle mb-2 text-muted">Total Credit Sales</h6>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ todayTotalPurchases | number: '1.2-2' }} <sub><small>AED</small></sub></h5>
              <h6 class="card-subtitle mb-2 text-muted">Total Purchase Today</h6>
            </div>
          </div>
        </div>
    </div>

      <!-- <ul>
          <li>Today's Sales by Category: 1, 2, 3, 4</li>
          <li>30-days Sales Average: 100</li>
          <li>Total Credit Amount: 1,234</li>
      </ul> -->

</div>