<div id="container" class="d-flex flex-column">

    <div class="mt-auto" style="padding: 2px 2px 15px 2px;">
        
        <div ngbDropdown class="d-inline-block float-right ml-1">
            <button class="btn btn-outline-primary btn-lg" id="dropdownBasic1" ngbDropdownToggle>Saved ({{ savedSales.length }})</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <div *ngIf="!savedSales.length" class="text-center"><em>Empty </em></div>
                <button *ngFor="let sale of savedSales; index as i" (click)="selectSavedSale(i)" ngbDropdownItem>{{ sale.title }}</button>
            </div>
        </div>
        <button type="button" class="btn btn-secondary btn-lg" [disabled]="!saleItems.length" (click)="saveSale()">Save</button>
        <button type="button" class="btn btn-danger btn-lg ml-1" (click)="clearSale()">del</button>

    </div>

    <div class="flex-fill" style="overflow-y: auto;">

        <!-- Sale Items List -->
        <app-sale-item *ngFor="let item of saleItems; index as i" [item]="item" (onDelete)="onItemDelete(i)" (onChange)="onItemChange(i, $event)"></app-sale-item>

        <!-- Empty Cart Icon -->
        <div *ngIf="saleItems.length === 0" class="d-flex justify-content-center text-center" style="height: 100%;">
            <div class="align-self-center">
                <img src="assets/icons/empty-box.png" style="width: 80%; height: auto; opacity: 40%;">
            </div>
        </div>
    </div>

    <div class="p-2 mt-auto text-center">
        <button *ngIf="!selectedCustomer" type="button" class="btn btn-outline-secondary w-50" (click)="openModal(customerLookupModal)">Select Customer</button>
        <div *ngIf="selectedCustomer">
            <div class="p-2">
                Credit to <b>{{ selectedCustomer.name }}</b>
            </div>
            <div class="btn-group btn-block w-50" role="group">
                <button type="button" class="btn btn-outline-primary" (click)="openModal(customerLookupModal)">CHANGE</button>
                <button type="button" class="btn btn-outline-danger" (click)="selectedCustomer = null">REMOVE</button>
            </div>
        </div>
    </div>

    <div class="p-2 mt-auto" style="border-top: 1px solid lightgrey">
        <div class="d-flex mb-1">
            <div class="mr-auto"><h2>Total</h2></div>
            <div class="text-right">
                <h2>{{ saleTotal | number: '1.2-2' }}</h2>
            </div>
        </div>
        <div class="d-flex mb-1">
            <div class="mr-auto">
                <h5 *ngIf="saleTotalDiscount" class="text-danger">Discount</h5>
                <h5>VAT</h5>
                <h5>Subtotal</h5>
            </div>
            <div class="text-right">
                <h5 *ngIf="saleTotalDiscount" class="text-danger">
                    <span *ngIf="saleTotalDiscount > 0">-{{ saleTotalDiscount | number: '1.2-2' }}</span>
                    <span *ngIf="saleTotalDiscount < 0">+{{ saleTotalDiscount * -1 | number: '1.2-2' }}</span>
                </h5>
                <h5>{{ saleVatAmount | number: '1.2-2' }}</h5>
                <h5>{{ saleSubtotal | number: '1.2-2' }}</h5>
            </div>
        </div>
    </div>

    <div class="p-2 mt-auto">
        <div class="btn-group btn-group-lg btn-block" role="group" id="paymentButtons">
            <button type="button" class="btn btn-success btn-lg" [disabled]="!saleItems.length" (click)="makePayment('cash')">Cash</button>
            <button type="button" class="btn btn-secondary btn-lg" [disabled]="!(saleItems.length && selectedCustomer)" (click)="makePayment('credit')">Credit</button>
        </div>
    </div>
</div>


<!-- A Modal that contains the customer lookup component -->
<ng-template #customerLookupModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Select Customer</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="height: 600px">
        <app-customer-lookup [allowSelect]="true" (onCustomerSelect)="onCustomerSelect($event)"></app-customer-lookup>
    </div>
</ng-template>