<div id="container" class="d-flex flex-column">

    <div class="d-flex align-items-center mb-3" id="header">
        <div class="p-3" style="cursor: pointer;" routerLink=".." routerDirection="back">
            <img src="assets/icons/back-64.png" width="64">
        </div>
        <div class="p-2">
            <h1 class="display-4">Supplier {{customerId}}</h1>
        </div>
        <div class="ml-auto p-2 flex-shrink-1">
            <button type="button" class="btn btn-warning btn-lg" [routerLink]="['./new-purchase']" routerDirection="forward">New Purchase</button>
        </div>
    </div>

    <ul>
        <li>Supplier purchases.</li>
        <li>View a purchase and add payments to a purchase.</li>
        <li>View the total money owed to the supplier.</li>
    </ul>
</div>