<div id="container" class="d-flex flex-column">

    <div *ngIf="customer" class="d-flex align-items-center mb-3" id="header">
        <div class="p-3" style="cursor: pointer;" (click)="location.back()">
            <img src="assets/icons/back-64.png" width="64">
        </div>
        <div class="p-2">
            <h1 class="display-4">{{customer.name}}</h1>
        </div>
        <div class="ml-auto p-2 flex-shrink-1">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ customer.total_credit | number: '1.2-2' }} <sub><small>AED</small></sub></h3>
                    <h6 class="card-subtitle mb-2 text-muted">Customer Credit Balance</h6>
                </div>
            </div>
        </div>
    </div>
    
  
    <form method="post" [formGroup]="form" (ngSubmit)="onMakePaymentFormSubmit(form)">
        <div class="form-group">
            <div class="input-group input-group-lg mb-3 w-100">
                <input type="number" min="0" step="0.01" class="form-control" formControlName="amount" placeholder="Enter Amount">
                <div class="input-group-append">
                    <button class="btn btn-warning" type="submit" [disabled]="!form.valid">Make Payment</button>
                </div>
            </div>
        </div>
    </form>

    <div class="flex-fill" style="overflow-y: auto;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Debit</th>
                    <th scope="col">Credit</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ transaction.ts }}</td>
                    <td>
                        <span *ngIf="transaction.debit > 0">{{ transaction.debit | number: '1.2-2' }}</span>
                        <span *ngIf="transaction.debit == 0">-</span>
                    </td>
                    <td>
                        <span *ngIf="transaction.credit > 0">{{ transaction.credit | number: '1.2-2' }}</span>
                        <span *ngIf="transaction.credit == 0">-</span>
                    </td>
                    <td>
                        <span *ngIf="transaction.refund_reference">
                            <em class="text-danger">(Refund)</em>
                        </span>
                        <button *ngIf="transaction.sale && !transaction.refund_reference" type="button" class="btn btn-outline-dark btn-sm" (click)="onRefundClick(transaction.sale)">View Sale</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>