<div id="container" class="d-flex flex-column">

    <div class="d-flex align-items-center mb-3" id="header">
        <div class="p-3" style="cursor: pointer;" routerLink="../.." routerDirection="back">
            <img src="assets/icons/back-64.png" width="64">
        </div>
        <div class="p-2">
            <h1 *ngIf="product" class="display-4">{{ product.description }}</h1>
        </div>
        <div class="ml-auto p-2 flex-shrink-1">
            <button type="button" class="btn btn-warning btn-lg" (click)="onPackagesClick()">Packages</button>
        </div>
    </div>

    <form method="post" [formGroup]="updatePriceForm" (ngSubmit)="onUpdatePriceFormSubmit(updatePriceForm)">
      <div class="form-group">
        <label>Selling Price<span style="color: red">*</span></label>
        <div class="input-group mb-3">
          <input type="text" min="0" step="0.05" class="form-control" formControlName="price" value="{{ item.price | number: '1.2-2' }}">
          <div class="input-group-append">
            <button class="btn btn-success" type="submit">Update</button>
          </div>
        </div>
      </div>
    </form>

    <ul>
        <li>View previous purchases.</li>
        <li>View parent package items.</li>
        <li>View current stock.</li>
        <li>Update current stock.</li>
    </ul>
</div>