<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']" routerDirection="root">
    <img src="assets/icons/wheat-64.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/home']" routerDirection="root">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/sales']" routerDirection="root">Sales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/stock']" routerDirection="root">Stock</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/customers']" routerDirection="root">Customers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/suppliers']" routerDirection="root">Suppliers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/expenses']" routerDirection="root">Expenses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/dashboard']" routerDirection="root">Dashboard</a>
    </li>
  </ul>
</nav>

<!-- <div style="height: calc(100% - 60px); overflow-y: auto;"> -->
<div style="height: calc(100% - 60px)">
  <router-outlet></router-outlet>
</div>