<div id="container" class="d-flex flex-column">

    <div class="d-flex align-items-center mb-3" id="header">
        <div class="p-2">
            <h1 class="display-4">Sales History</h1>
        </div>
    </div>
    

    <div class="flex-fill" style="overflow-y: auto;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Type</th>
                    <th scope="col">Customer</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sale of currentSales; index as i" [ngClass]="{'text-danger': sale.refund_reference}">
                    <th scope="row">{{ sale.id }}</th>
                    <td>{{ sale.ts | date: 'MMM d, y, h:mm:ss a' }}</td>
                    <td>
                        {{ sale.grand_total | number: '1.2-2' }} 
                        <span *ngIf="sale.refund_reference">
                            <small><em>(Refund of #{{ sale.refund_reference }})</em></small>
                        </span>
                    </td>
                    <td>{{ sale.type }}</td>
                    <td>
                        <button *ngIf="sale.customer_name" type="button" class="btn btn-link btn-sm" [routerLink]="['/customers/'+sale.customer]" routerDirection="forward">{{ sale.customer_name }}</button>
                        <span *ngIf="!sale.customer_name">-</span>
                    </td>
                    <td>
                        <button *ngIf="!sale.refund_reference" type="button" class="btn btn-outline-dark btn-sm" (click)="onRefundClick(sale)">Refund</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
