<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Purchase #{{ purchase.id }} - ({{ purchase.type }})</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body pb-0">
    <div class="list-group" style="height: 400px; overflow-y: auto;">
        <a *ngFor="let item of items; index as i" class="list-group-item pt-0 pb-0">
            <div class="d-flex w-100 justify-content-between align-items-center" [ngClass]="{'text-danger': item.type == 'return'}">
                <div>
                    <b>{{ item.quantity | number: '1.0-3' }}x</b> {{ item.description }} 
                    <small *ngIf="item.type == 'return'" style="color: red">(Return)</small>
                </div>
                <div class="p-2">
                    <b>{{ item.total_cost }}</b>
                </div>
            </div>
        </a>
    </div>

    <div class="p-2 mt-auto" style="border-top: 1px solid lightgrey">
        <div class="d-flex mb-1">
            <div class="mr-auto"><h4>Total</h4></div>
            <div class="text-right">
                <h2>{{ purchase.grand_total | number: '1.2-2' }}</h2>
            </div>
        </div>
        <div class="d-flex">
            <div class="mr-auto">
                <h5>VAT</h5>
                <h5>Subtotal</h5>
            </div>
            <div class="text-right">
                <h5>{{ purchase.total_vat | number: '1.2-2' }}</h5>
                <h5>{{ purchase.subtotal | number: '1.2-2' }}</h5>
            </div>
        </div>
        <div *ngIf="purchase.type == 'credit'" class="d-flex pt-2" style="border-top: 1px solid lightgrey;">
            <div class="mr-auto">
                <h5 class="text-success">Paid</h5>
                <h5 [ngClass]="{'text-danger': (purchase.grand_total - purchase.paid_amount) > 0}">Remaining</h5>
            </div>
            <div class="text-right">
                <h5 class="text-success">{{ purchase.paid_amount | number: '1.2-2' }}</h5>
                <h5 [ngClass]="{'text-danger': (purchase.grand_total - purchase.paid_amount) > 0}">
                    {{ purchase.grand_total - purchase.paid_amount | number: '1.2-2' }}
                </h5>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Close</button>
</div>