<div id="container" class="d-flex flex-column">

    <div class="d-flex align-items-center mb-3" id="header">
        <div class="p-2">
            <h1 class="display-4">Suppliers</h1>            
        </div>
        <div class="ml-auto p-2 flex-shrink-1">
            <button type="button" class="btn btn-warning btn-lg" (click)="onNewSupplierClick()">New Supplier</button>
        </div>
    </div>
    

    <div class="flex-fill" style="overflow-y: auto;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Contact</th>
                    <th scope="col">TRN</th>
                    <th scope="col">Total Credit</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let supplier of currentSuppliers; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ supplier.name }}</td>
                    <td>{{ supplier.contact }}</td>
                    <td>{{ supplier.tax_number }}</td>
                    <td>{{ supplier.total_credit ? supplier.total_credit : 0 | number: '1.2-2' }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-dark btn-sm" [routerLink]="['/suppliers/'+supplier.id]" routerDirection="forward">View</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
